<h1>Create your own course and share the knowledge:</h1>

<form
  method="POST"
  action="/authentication/course-create"
  enctype="multipart/form-data"
>
  <label for="course-title">Title:</label>
  <input
    id="course-title"
    type="text"
    name="title"
    placeholder="Course title..."
  />
  <label for="course-description">Description:</label>
  <textarea
    id="course-description"
    name="description"
    placeholder="Describe it..."
  ></textarea>
  <input
    id="course-cost"
    type="text"
    name="cost"
    placeholder="Set a price for your course"
  />
  <label for="course-cost">Cost:</label>
  <input
    id="course-schedule"
    type="text"
    name="schedule"
    placeholder="Set your timings"
  />
  <label for="course-schedule">Picture:</label>
  <input type="file" name="picture" accept="image/*" name="picture" />

  <button>Create your course!</button>
</form>