<div class="course-form">

  <h1>Create your own course and share the knowledge:</h1>

  <form
    method="POST"
    action="/course/course-create"
    enctype="multipart/form-data"
    class="form"
  >

    <label for="course-title">Title:</label>
    <input
      id="course-title"
      type="text"
      name="title"
      placeholder="Course title..."
    />

    <label for="course-description">Description:</label>
    <textarea
      id="course-description"
      name="description"
      placeholder="Describe it..."
    ></textarea>

    <label for="course-cost">Cost (€):</label>
    <input
      id="course-cost"
      type="text"
      name="cost"
      placeholder="Set a price for your course"
    />
    <label for="course-schedule">Schedule:</label>
    <input
      id="course-schedule"
      type="text"
      name="schedule"
      placeholder="Set your timings"
    />
    <label class="btn-2" for="course-picture">Picture:</label>
    <input type="file" name="picture" accept="image/*" />
    <button>Create your course!</button>
  </form>

</div>