<div>

  <div>

    <h1>Welcome to IronCademy!</h1>
    <p>Your place for cool courses</p>

    <h3>Here are the most popular courses:</h3>
  </div>
  {{#each courses}}
    <div>
      {{courses.title}}
      {{courses.picture}}
      {{courses.description}}
      {{courses.cost}}

    </div>

  {{/each}}

  <a href="/course-create">Create your own course!</a>
</div>