<div>

  <div>

    <h1>Welcome to IronCademy!</h1>
    <p>Your place for cool courses</p>

    <h3>Here are the most popular courses:</h3>
  </div>
  {{#each courses}}
    <div>
      {{title}}
      {{picture}}
      {{schedule}}
      {{cost}}
      <a href="/authentication/single-course">Enroll in this course</a>
    </div>
  {{/each}}

  <a href="/authentication/course-create">Create your own course!</a>
</div>