$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  background-color: #82b74b;
}

body {
  max-width: 60em;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  //font-family: $font-sans;
  color: #5a5a5a;
  line-height: 2;
  // background-color: #5a5a5a;
}

#banner {
  padding: 3em;
  text-align: center;
  color: #ffffff;
  background-image: url('/images/apple.jpg');
  background-size: cover;
  height: 600px;
  background-color: #dcdcdc;
  /*height: 100vh;*/
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  background-color: #3e4444;
  height: 60px;
  width: 100%;
  font-size: 1.2em;
  color: #fefefa;
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  opacity: 0.9;
  a,
  button {
    padding: 0.5em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

.btnColour {
  background-color: #78c2ad;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  // margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.top {
  text-align: center;
}

#course-picture {
  width: 10em;
  border-radius: 0.4rem;
  border: 1px solid #5a5a5a;
}

#user-picture {
  width: 8em;
  border-radius: 50%;
  border: 1px solid #5a5a5a;
}

#profile-picture-btn {
  position: relative;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#error-message {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}
#error-status {
  font-size: 1em;
  text-align: center;
  padding: 1em;
}

#container {
  background-color: #dcdcdc;
}

#create-course {
  padding: 0.6em;
  background-color: #82b74b;
  border-radius: 8px;
}

#popular-courses {
  text-align: center;
  padding: 1em 0 0 0;
}

.col-md-4,
.row {
  background-color: #dcdcdc;
}

#error-stack {
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
}

// button {
//   cursor: pointer;
// }

.course-form {
  button {
    background-color: #78c2ad;
    color: #fffbea;
    border-radius: 8px;
  }
  h1 {
    font-size: 2em;
    padding-top: 8%;
  }
  input,
  textarea {
    border-radius: 8px;
  }
}
