$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  background-color: #82b74b;
}

body {
  max-width: 70em;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  //font-family: $font-sans;
  color: #5a5a5a;
  line-height: 2;
  // background-color: #5a5a5a;
}

#banner {
  padding-top: 10em;
  padding-right: 25em;
  text-align: center;
  color: #ffffff;
  background-image: url('/images/apple.jpg');
  background-size: cover;
  height: 600px;
  background-color: #dcdcdc;
  /*height: 100vh;*/
}

a {
  color: inherit;
  text-decoration: none;
}

#company {
  margin-right: 22%;
}

.navStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  background-color: #3e4444;
  height: 80px;
  width: 100%;
  font-size: 1.2em;
  color: #fefefa;
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  opacity: 0.9;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}
#logo {
  padding: 0.5em;
}

#icon {
  width: 6%;
  height: 85%;
}

.btnColour {
  background-color: #78c2ad;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  // margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.top {
  text-align: center;
  background-color: #dcdcdc;
  padding-left: 3%;
  padding: 3%;
}

.single-view {
  background-color: #dcdcdc;
  text-align: center;
  padding: 3%;
  .btn {
    display: flex;
    justify-content: center;
    background-color: #82b74b;
    color: #ffffff;
    border-radius: 10px;
    width: 10em;
    font-size: 1.2em;
  }
  h1 {
    font-size: 2em;
    padding-top: 8%;
    color: #34495e;
    text-shadow: 2px 2px #c435353f;
  }
  h3 {
    text-decoration: underline;
  }
  img {
    padding: 0;
  }
}

.private {
  background-color: #dcdcdc;
  padding: 3%;
  button {
    display: flex;
    justify-content: center;
    background-color: #82b74b;
    color: #ffffff;
    border-radius: 10px;
    width: 10em;
    font-size: 1.2em;
  }
  h1 {
    font-size: 2em;
    padding-top: 8%;
    color: #34495e;
    text-shadow: 2px 2px #c435353f;
  }
  h3 {
    text-decoration: underline;
  }
  img {
    padding: 0;
  }
}

#course-picture {
  width: 10em;
  border-radius: 0.4rem;
  border: 1px solid #5a5a5a;
}

.edit-btn {
  width: 10em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #82b74b;
  color: #ffffff;
  font-size: 1.2em;
}

#user-picture {
  width: 10em;
  border-radius: 50%;
  border: 1px solid #5a5a5a;
}

#profile-picture-btn {
  position: relative;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#error-message {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

#error-status {
  font-size: 1em;
  text-align: center;
  padding: 1em;
}

#container {
  background-color: #dcdcdc;
}

#create-course {
  padding: 0.6em;
  background-color: #82b74b;
  border-radius: 8px;
  color: #ffffff;
}

#create-course-private {
  width: 10em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #82b74b;
  color: #ffffff;
  font-size: 1.2em;
}

#popular-courses {
  text-align: center;
  padding: 1em 0 0 0;
}

.col-md-4,
.row {
  background-color: #dcdcdc;
}

#error-stack {
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
}

// button {
//   cursor: pointer;
// }

.course-form {
  background-color: #dcdcdc;
  padding-left: 3%;
  padding: 3%;
  button {
    background-color: #82b74b;
    color: #ffffff;
    border-radius: 10px;
    width: 20vw;
    font-size: 1.2em;
  }
  h1 {
    font-size: 2em;
    padding-top: 8%;
    color: #34495e;
    text-shadow: 2px 2px #c435353f;
  }
  input,
  textarea {
    border-radius: 10px;
    background-color: #ffffff;
  }
  label {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.2em;
  }
  #hero-form {
    height: 30%;
  }
}

.course-button {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

#course-picture {
  margin: 3%;
}

.authentication-form {
  background-color: #dcdcdc;
  padding-left: 3%;
  padding: 3%;
  button {
    background-color: #82b74b;
    color: #ffffff;
    border-radius: 10px;
    width: 20vw;
    font-size: 1.2em;
  }
  input {
    border-radius: 10px;
    background-color: #ffffff;
    width: 50%;
  }
  label {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 0.5em;
  }
}

.authentication-button {
  //display: flex;
  //flex-direction: row;
  // justify-content: center;

  width: 35vw;
  padding: 3% 0;
  button {
    //margin: auto;
    margin-left: 20%;
  }
  p {
    margin-left: 35%;
  }
}

#likeCounter {
  font-family: Montserrat;
  margin-top: 80%;
  border: 1px dotted gray;
  padding: 1%;
}

#like-btn {
  width: 25%;
  padding: 0%;
  margin: 0%;
}
